<!DOCTYPE html>
<html lang="en">

<head>
  <title>NEAL SLOT MACHINE SETUP PAGE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <style media="screen">
    .padded-rounded-corners-title {
      padding: 1em;
      border-radius: 1em;
    }
  </style>

</head>

<body>

  <div class="container">
    <div class="row">
      <!-- ITEM CREATION FORM -->
      <div class="col-4">
        <h2 class="padded-rounded-corners-title bg-success text-center">ADD NEW ITEM</h2>

        <form action="/create_clinton_item" method="post">
          <div class="form-group">
            <label for="item_name">Item Name</label>
            <input type="text" name="item_name" class="form-control" id="item_name" aria-describedby="item_name" placeholder="item name">
          </div>
          <div class="form-group">
            <label for="item_description">Item Description</label>
            <textarea type="text" name="item_description" class="form-control" id="item_description" placeholder="item description"></textarea>
          </div>
          <div class="form-group">
            <label for="picture_url">Picture URL</label>
            <textarea type="text" name="picture_url" class="form-control" id="picture_url" placeholder="picture_url"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Create Item</button>
        </form>
      </div>
      <!-- CREATED ITEMS LIST -->
      <div class="col-4 offset-1 bg-primary padded-rounded-corners-title">
        <h2 class="padded-rounded-corners-title bg-warning text-center">List of Items</h2>
        <% for(clinton_item of clinton_items){ %>
          <div class="">
            <h3><%= clinton_item.item_name %></h3>
            <img class="img-fluid" src="<%=clinton_item.picture_url%>" alt="">
            <p>
              <%= clinton_item.item_description %>
            </p>
          </div>
          <% }%>
      </div>

      <div class="col-2 offset-1">
        <h2 class="padded-rounded-corners-title bg-success text-center">Clinton Points</h2>
        <h3 id="clinton_points_total" class="text-center"></h3>
        <button id="add_clinton_point" class="btn btn-primary" type="button" name="button">Add Clinton Point</button>
        <script type="text/javascript">
          $(document).ready(function() {
            var clinton_points_total = 0;

            $.post("/get_clinton_points", {})
              .done(function(data) {
                clinton_points_total = data.points;
                $("#clinton_points_total").html(clinton_points_total)
              });

            $("#add_clinton_point").click(function() {
              $.post("/add_clinton_points", {})
                .done(function(data) {
                  clinton_points_total += 1;
                  $("#clinton_points_total").html(clinton_points_total)
                });
            })

          });
        </script>
      </div>
    </div>
  </div>

</body>

</html>